<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Error - Name Already Used</title>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet">

</head>

<body>
	<div class="tapes">
		<p style="color:white;text-align:center;height:200px;padding-top:70px;font-weight:bold;font-size:2rem;">You are attempting to use a name that has already been taken in your Azure environment<br><br><button type="button" style="height:50px;width:150px;background-color:royalblue;color:#fff;" onclick=location.href='/'>Return</button></p>	
		<div></div>
		<div></div>
	</div>


</body>

</html>
